/* 手機板 375*667 */
/* ----手機版 模組化 -------*/
html{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #ffffff;
    box-sizing: border-box;
}

body    {
    background-color: #ba3715;
}

/* *{
    outline: 1px greenyellow solid;
} */

/* 字體大小 */
a   {
    text-decoration: none;
    color: #ffffff;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3rem;
}

h3{
    font-size: 2rem;
}

h4{
    font-size: 1.4rem;
}

h5{
    font-size: 1.2rem;
}

p{
    font-size: 1rem;
}

/* 排列顯示 */
.container  {
    padding: 0px 20px;
}

.row    {
    display: flex;
    align-items: center;
    justify-content: center;
}

.display-n{
    display: none;
}

/* 手機 */
/* NAV 手機 */
nav {
    width: 100%;
    height: 80px;
    position: fixed;
    background-color: #ba3715;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    z-index: 99;
}

.nav-container {
    height: 100%;
    padding: 10px 20px;
}

.nav-row{
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.nav-col-logo   {
    
}

.nav-logo{
    width: 50px;
    height: 50px;
}

.nav-logo img{
    width: 100%;
    height: 100%;
}

.nav-col-menu  {
    
} 

.nav-btn-menu-off   {
    
}

.nav-btn-menu-off i {
    font-size: 30px;
}

.nav-btn-menu-on{

}

.nav-btn-menu-on i{
    font-size: 40px;
}

/* 跳出選單頁面 */
.menusection{
    position: absolute;
    width: 80%;
    height: calc(100vh - 80px);
    top: 80px;
    left: 20%;
    background-color: rgba(188, 54, 21, 0.5);
    backdrop-filter: blur(5px) ;
    /* 給動畫用 */
    transform: translateX(100%);
}

.menu-container{
    height: 100%;
    padding: 40px 20px;
    
}

.menu-row{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.menu-col:first-child div, .menu-col:first-child h3{
    padding: 16px 0;
    text-align: center;
}

.menu-col:first-child i{
    font-size: 30px;
    padding: 0 10px;
}

.menu-col:last-child{
    width: 100%;
}

.menu-col:last-child div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu-col:last-child i{
    font-size: 25px;
    padding: 0 6px;
}

/* ITEM SECTION 手機版 */
.lightbox-item{
    
}

.lightbox-item-container{
    padding-top: 80px;
}

.lightbox-item-title{
    padding: 15px 20px;
    line-height: 1.2;
}

.lightbox-item-title p{
    color: rgba(255, 255, 255, 0.7);
}

.lightbox-item-pic-wrap{
    /* outline: 1px solid greenyellow; */
    width: 100%;
    height: 30rem;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.7);
    position: relative;
}

.lightbox-item-move{
    position: absolute;
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: rgba(255, 255, 255, 0.7);
}
.lightbox-item-move.move-left{
    top: 0;
    left: 0;
}
.lightbox-item-move.move-right{
    top: 0;
    right: 0;
}

.lightbox-item-pic-train{
    width: 500%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

.lightbox-item-pic-col{
    width: 20%;
    height: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lightbox-item-pic{
    width: 28rem;
    height: 28rem;
    background-image: url(../img/cover1-kana.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.lightbox-item-sliderdots-wrap{
    /* outline: 1px solid greenyellow; */
    padding: 15px 20px;
}

.lightbox-item-sliderdots-row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.lightbox-item-sliderdots-col{
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}

.lightbox-item-sliderdots-off{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
}

.lightbox-item-sliderdots-on{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 1);
}

.lightbox-item-price{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
}

.lightbox-item-price h3{
    color: #ba3715;
    padding: 10px;
}

.lightbox-item-price h3::before{
    content: '$';
    display: inline;
    margin-right: 5px;
}

.lightbox-filter-toggle-wrap{
    /* outline: 1px solid greenyellow; */
    padding: 15px 20px;
    width: 100%;
}

.lightbox-filter-toggle-row{
    width: 100%;
}

.lightbox-filter-tracklist{
    width: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: #6ba09e solid 2px;
}

.lightbox-filter-productdetail{
    width: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-bottom: #6ba09e solid 2px; */
}

.lightbox-tracklist-wrap{
    padding: 15px 20px;
}

.lightbox-tracklist-row{
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.lightbox-tracklist-col{
    /* outline: 1px greenyellow solid; */
    width: 100%;
    padding: 10px 0;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lightbox-tracklist-songname{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.lightbox-tracklist-songname h4{
    margin-right: 20px;
}

.lightbox-tracklist-playbtn i{
    font-size: 30px;
}

.lightbox-tracklist-mvbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    background-color: #fff;
    color: #ba3715;
    border-radius: 30px;
}

.lightbox-tracklist-mvbtn i{
    font-size: 16px;
    margin-right: 5px;
}

.lightbox-productdetail-wrap{
    padding: 15px 20px;
    margin-bottom: 20px;
}

.lightbox-productdetail-wrap h5{
    margin-bottom: 20px;
    line-height: 2;
}

/* MUSIC PLAYER */
.lightbox-musicplayer{
    position: fixed;
    bottom: 0;
    background-color: #ba3715;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    z-index: 98;
}

.listen-player{
    /* outline: 4px greenyellow solid; */
    width: 100%;
    height: 60px;
}

.listen-player-row{
    height: calc(100% - 4px);
    justify-content: space-between;
}

.player-col-l{
    /* width: 60%; */
    height: 100%;
    display: flex;
}

.player-pic-wrap{
    height: 100%;
}

.player-pic-wrap img{
    height: 100%;
}

.player-title{
    width: auto;
    height: 100%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}

.player-title h4, .player-title p{
    margin-top: 2px;
    margin-bottom: 2px;
    white-space: nowrap;
}

.player-col-r{
    /* width: 40%; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-play {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.player-play i{
    font-size: 30px;
}

.player-volume{
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-volume i{
    font-size: 16px;
    margin-right: 6px;
}

.volume-line{
    width: 40px;
    height: 2px;
    background-color: #fff;
}

.player-col-cart{
    /* outline: 1px greenyellow solid; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    background-color: #6ba09e;
}

.player-col-cart .player-volume{
    display: none;    
}

.player-timeline{
    width: 100%;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.5);
}

/* FOOTER 手機版*/
footer{
    width: 100%;
    height: 80px;
    background-color: rgba(31, 35, 39, 0.5);
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    margin-bottom: 60px;
}

.footer-container {
    height: 100%;
}

.footer-row{
    height: 100%;
    justify-content: space-between;
}

.footer-col-l{
    line-height: 2;
    text-align: center;
}

.footer-social-icon i{
    font-size: 16px;
    margin: 0 6px;
}

.footer-col-r{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-col-r h5{
    padding: 10px 15px;
    background-color: #6ba09e;
    margin-right: 10px;
}

.to-top{
    text-align: center; 
}

.to-top i{
    font-size: 20px;
}

/* ----------------------------------------------------------------------------------------- */
/* 電腦版 >= 768px */
@media screen and (min-width: 768px) {
    /* ----電腦版 模組化 -------*/
    html{
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: normal;
        color: #ffffff;
        box-sizing: border-box;
    }

    body    {
        background-color: #ba3715;
    }

    /* *{
        outline: 1px greenyellow solid;
    } */

    /* 字體大小 */
    a   {
        text-decoration: none;
        color: #ffffff;
    }

    h1{
        font-size: 4rem;
    }

    h2{
        font-size: 3rem;
    }

    h3{
        font-size: 2rem;
    }

    h4{
        font-size: 1.4rem;
    }

    h5{
        font-size: 1.2rem;
    }

    p{
        font-size: 1rem;
    }

    /* 排列顯示 */
    .max-width-limited{
        max-width: 1360px;
        margin: auto;
    }

    .container  {
        padding: 0px 40px;
    }

    .display-n{
        display: none;
    }

    /* NAV web------------------------------------------------------------- */
    nav{
        background-color: #ba3715;
    }

    .nav-container {
        /* height: 100%; */
        padding: 10px 40px;
        position: relative;
    }

    .nav-col-logo   {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-logo{
        width: 60px;
        height: 60px;
        margin-right: 20px;
    }

    .nav-col-menu  {
        display: none;
    }

    .web-nav-col-l, .web-nav-col-r{
        display: flex;
    }

    .web-nav-col-l h3{
        margin: 0 20px;
        font-size: 20px;
    }

    .web-nav-col-r i {
        font-size: 30px;
        margin-left: 20px;
    }

    /* 跳出選單頁面 */
    .menusection{
        display: none;
    }

    /* LIGHTBOX-ITEM 電腦版 */
    .lightbox-item{
        display: none;
    }

    .web-lightbox-item{
        display: block;
        width: 100%;
        /* height: calc(100vh - 160px);
        min-height: 680px; */
        /* overflow: hidden; */
        position: relative;
        padding-top: 80px;
        margin-bottom: 80px;
    }

    .web-lightbox-item-container{
        height: 100%;
        padding: 0 40px;
        max-width: 1360px;
        margin: auto;
        background-color: #ba3715;
    }

    .web-lightbox-item-row{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    /* 左lightbox 電腦版 */
    .web-lightbox-item-col-l{
        width: 60%;
        height: auto;
        padding: 10px 40px 10px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* item-pic 電腦版 */
    .lightbox-item-pic-wrap{
        padding-bottom: 75%;
        height: auto;
        background-color: rgba(255, 255, 255, 0);
        /* max-width: 400px; */
    }

    .lightbox-item-pic-train{
        position: absolute;
        top: 0;
        bottom: 0;
    }

    .lightbox-item-pic{
        width: 100%;
        height: 100%;
        background-size: contain;
    }

    .lightbox-item-sliderdots-wrap{
        width: 100%;
        padding: 0;
        /* max-width: 450px; */
    }

    .lightbox-item-sliderdots-row{
        width: 100%;
        padding: 0;
        justify-content: space-between;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .lightbox-item-sliderdots-col{
        width: 18%;
        padding-bottom: 18%;
        height: auto;
        margin: 0;
    }

    .lightbox-item-sliderdots-col:nth-child(1){
        background-image: url(../img/cover1-kana.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .lightbox-item-sliderdots-col:nth-child(2){
        background-image: url(../img/cover2-asian.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .lightbox-item-sliderdots-col:nth-child(3){
        background-image: url(../img/cover3-radio.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .lightbox-item-sliderdots-col:nth-child(4){
        background-image: url(../img/Vinyl-disc.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .lightbox-item-sliderdots-col:nth-child(5){
        background-image: url(../img/band1-kana.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    
    .lightbox-item-sliderdots-off{
        display: none;
    }
    
    .lightbox-item-sliderdots-on{
        display: none;
    }

    /* track-list 電腦版 */
    .lightbox-tracklist-wrap{
        padding: 0;
        width: 100%;
        display: inherit;
        overflow: scroll;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    .lightbox-tracklist-row{
        width: 100%;
        justify-content: space-between;
    }    

    .lightbox-tracklist-wrap::-webkit-scrollbar{
        display: none;
    }

    .lightbox-tracklist-col{
        padding: 30px 0;
    }

    /* 右lightbox 電腦版 */
    .web-lightbox-item-col-r{
        width: 40%;
        height: 100%;
        padding: 10px 0px 10px 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        overflow: hidden;
    }

    .lightbox-item-title{
        width: 100%;
        height: 25%;
        padding: 0px;
        line-height: 2;
    }

    .lightbox-item-title h4{
        font-size: 3rem;
    }

    .lightbox-item-title p{
        font-size: 1.2rem;
    }

    .lightbox-item-price{
        padding: 0;
        margin-bottom: 20px;
    }
    
    .lightbox-item-price h3{
        padding: 10px 0;
    }

    .web-lightbox-item-addtocart{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .quantity{
        width: 35%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .quantity h3{
        font-size: 24px;
    }

    .web-addtocart{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #6ba09e;
        padding: 15px 10px;
    }

    .web-addtocart i{
        margin-right: 5px;
        font-size: 20px;
    }

    .lightbox-productdetail-wrap{
        display: block;
        padding: 0;
        margin-bottom: 0;
        overflow: scroll;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
    .lightbox-productdetail-wrap::-webkit-scrollbar{
        display: none;
    }

    /* lightbox-musicplay 電腦版 */
    .lightbox-musicplayer{
        display: block;
        position: fixed;
        height: 120px;
    }

    .listen-player-row{
        height: calc(100%);
        justify-content: space-between;
        max-width: 1280px;
        margin: auto;
    }
    
    .player-col-l{
        width: auto;
        height: 100%;
        display: flex;
    }
    
    .player-title{
        margin-left: 20px;
    }
    
    .player-title h4, .player-title p{
        line-height: 1.5;
    }

    .player-title h4{
        font-size: 30px;
    }
    
    .player-col-r{
        width: 40%;
        flex-direction: column;
        flex-shrink: 0;
        justify-content: space-evenly;
    }
    
    .player-play {
        margin-right: 0px;
    }
    
    .player-play i{
        font-size: 40px;
    }
    
    .player-volume{
        display: none;
    }

    .web-player-timeline{
        /* outline: 1px solid greenyellow; */
        display: block;
        width: 100%;
        height: 4px;
    }
    
    .volume-line{
        width: 40px;
        height: 2px;
        background-color: #fff;
    }
    
    .player-col-cart{
        /* outline: 1px greenyellow solid; */
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        background-color: transparent;
    }

    .player-col-cart h4{
        display: none;
    }

    .player-col-cart>i{
        display: block;
        font-size: 30px;
        color: #6ba09e;
    }

    .player-col-cart .web-player-volume{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 20px;
    }

    .player-col-cart .web-player-volume i{
        font-size: 20px;
    }

    .player-col-cart .web-player-volume .volume-line{
        width: 80px;
    }

    /* FOOTER 電腦版------------------------------------------------ */
    footer{
        margin-bottom: 120px;
    }

    .footer-container {
        height: 100%;
        width: 100%;
        padding: 0 40px;
        max-width: 1360px;
        margin: auto;
    }

    .footer-col-l{
        line-height: 2;
        text-align: center;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: center;
    }

    .footer-col-l p{
        font-size: 10px;
        margin-right: 20px;
    }

    .footer-col-r h5{
        margin-right: 30px;
    }
}