/* 手機板 375*667 */
/* ----手機版 模組化 -------*/
html{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #ffffff;
    box-sizing: border-box;
}

body    {
    background-color: #ba3715;
}

/* *{
    outline: 1px greenyellow solid;
} */

/* 字體大小 */
a   {
    text-decoration: none;
    color: #ffffff;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3rem;
}

h3{
    font-size: 2rem;
}

h4{
    font-size: 1.4rem;
}

h5{
    font-size: 1.2rem;
}

p{
    font-size: 1rem;
}

/* 排列顯示 */
.container  {
    padding: 0px 20px;
}

.row    {
    display: flex;
    align-items: center;
    justify-content: center;
}

.display-n{
    display: none;
}

/* 手機 */
/* NAV 手機 */
nav {
    width: 100%;
    height: 80px;
    position: fixed;
    background-color: #ba3715;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    z-index: 99;
}

.nav-container {
    height: 100%;
    padding: 10px 20px;
}

.nav-row{
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.nav-col-logo   {
    
}

.nav-logo{
    width: 50px;
    height: 50px;
}

.nav-logo img{
    width: 100%;
    height: 100%;
}

.nav-col-menu  {
    
} 

.nav-btn-menu-off   {
    
}

.nav-btn-menu-off i {
    font-size: 30px;
}

.nav-btn-menu-on{

}

.nav-btn-menu-on i{
    font-size: 40px;
}

/* 跳出選單頁面 */
.menusection{
    position: absolute;
    width: 80%;
    height: calc(100vh - 80px);
    top: 80px;
    left: 20%;
    background-color: rgba(188, 54, 21, 0.5);
    backdrop-filter: blur(5px) ;
    /* 給動畫用 */
    transform: translateX(100%);
}

.menu-container{
    height: 100%;
    padding: 40px 20px;
    
}

.menu-row{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.menu-col:first-child div, .menu-col:first-child h3{
    padding: 16px 0;
    text-align: center;
}

.menu-col:first-child i{
    font-size: 30px;
    padding: 0 10px;
}

.menu-col:last-child{
    width: 100%;
}

.menu-col:last-child div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu-col:last-child i{
    font-size: 25px;
    padding: 0 6px;
}

/* HEADER 手機版 */
header  {
    width: 100%;
    padding-top: 80px;
}

.header-container{
    position: relative;
    width: 100%;
}

/* 無限輪播動畫 */
.header-title{
    width: 100%;
    height: 34rem;
    border-top: .6rem solid white;
    border-bottom: .6rem solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
}

.header-train{
    display: flex;
}

.header-slogan{
    white-space: nowrap;
    font-size: 10rem;
    flex-grow: 0;
}

/* 黑膠唱片動畫 */
.vinyl{
    position: relative;
    width: 24rem;
    height: 24rem;
}

.header-vinyl.vinyl{
    position: absolute;
    top: calc(50% - 12rem);
    left: calc(50% - 12rem);
}

.header-vinyl-disc-move{
    position: absolute;
    width: 100%;
    height: 100%;
}

.vinyl-disc{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../svg/vinyl.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.vinyl-mask{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    height: 35%;
    background: url(../img/cover1-kana.jpeg) no-repeat center / cover;
    -webkit-mask: url(../svg/vinyl-mask.svg);
    mask: url(../svg/vinyl-mask.svg) no-repeat center center / auto;
}

.vinyl-cover{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../img/cover1-kana.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* LISTEN SECTION 手機版 */
.listensection{
    width: 100%;
    position: relative;
}

.listensection-container{
    width: 100%;
}

.listensection-row{
    
}

.listen-section-col{
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/* 黑膠唱機 */
.listen-recorder{
    /* outline: 4px greenyellow solid; */
    width: 28rem;
    height: 28rem;
    position: relative;
    margin-bottom: 20px;
}

.recorder{
    width: 100%;
    height: 100%;
    background-image: url(../svg/vinyl-recorder.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.recorder-vinyl-disc-move{
    position: absolute;
    width: 100%;
    height: 100%;
}

.recorder-disc{
    position: absolute;
    top: calc(50% - 28%);
    left: calc(50% - 28%);
    width: 56%;
    height: 56%;
}

.recorder-arm  {
    /* outline: 1px greenyellow solid; */
    position: absolute;
    top: 19%;
    right: 19%;
    width: 25%;
    height: 50%;
    background-image: url(../svg/arm.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform-origin: 85% 8%;
    transform: rotate(-15deg);
}

/* 撥放器 */
.listen-player{
    /* outline: 4px greenyellow solid; */
    width: 100%;
    max-width: 420px;
    height: 60px;
    padding: 0 30px;
}

.listen-player-row{
    height: calc(100% - 4px);
    justify-content: space-between;
}

.player-col-l{
    width: 60%;
    height: 100%;
    display: flex;
}

.player-pic-wrap{
    height: 100%;
}

.player-pic-wrap img{
    height: 100%;
}

.player-title{
    width: auto;
    height: 100%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}

.player-title h4, .player-title p{
    margin-top: 2px;
    margin-bottom: 2px;
    white-space: nowrap;
}

.player-col-r{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player-play {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-play i{
    font-size: 30px;
}

.player-volume{
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-volume i{
    font-size: 16px;
    margin-right: 6px;
}

.volume-line{
    width: 40px;
    height: 2px;
    background-color: #fff;
}

.player-timeline{
    width: 100%;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.5);
}

.listen-vinyllist{
    /* outline: 4px greenyellow solid; */
    position: absolute;
    width: 70%;
    height: 70vh;
    top: 10%;
    left: 0%;
    background-color: rgba(186, 54, 21, 0.5);
    backdrop-filter: blur(5px);
    transform: translate(-100%);
    transition: .5s;
}

.listen-vinyllist:hover{
    transform: translate(0%);
}

.list-toggle{
    position: absolute;
    top: calc(50%);
    left: 100%;
    font-size: 50px;
    padding: 10px 15px;
    background-color: rgba(186, 54, 21, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 0px 10px 10px 0;
}

.list-train {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
    padding-top: 20px;
}

.list-train-vinyl{
    width: 14rem;
    height: 14rem;
    margin-bottom: 20px;
    flex-shrink: 0;
}

/* CONTACT SECTION 手機版 */
.contactsection-container{

}

.threedcol{
    width: 100%;
    overflow: hidden;
}
/* go 3d css */

.info   {
    width: 100%;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info h5{
    line-height: 2;
}

/* FOOTER 手機版*/
footer{
    width: 100%;
    height: 80px;
    background-color: rgba(31, 35, 39, 0.5);
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.footer-container {
    height: 100%;
}

.footer-row{
    height: 100%;
    justify-content: space-between;
}

.footer-col-l{
    line-height: 2;
    text-align: center;
}

.footer-social-icon i{
    font-size: 16px;
    margin: 0 6px;
}

.footer-col-r{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-col-r h5{
    padding: 10px 15px;
    background-color: #6ba09e;
    margin-right: 10px;
}

.to-top{
    text-align: center; 
}

.to-top i{
    font-size: 20px;
}