/* 手機板 375*667 */
/* ----手機版 模組化 -------*/
html{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #ffffff;
    box-sizing: border-box;
}

body    {
    background-color: #ba3715;
}

/* *{
    outline: 1px greenyellow solid;
} */

/* 字體大小 */
a   {
    text-decoration: none;
    color: #ffffff;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3rem;
}

h3{
    font-size: 2rem;
}

h4{
    font-size: 1.4rem;
}

h5{
    font-size: 1.2rem;
}

p{
    font-size: 1rem;
}

/* 排列顯示 */
.container  {
    padding: 0px 20px;
}

.row    {
    display: flex;
    align-items: center;
    justify-content: center;
}

.display-n{
    display: none;
}

/* 手機 */
/* NAV 手機 */
nav {
    width: 100%;
    height: 80px;
    position: fixed;
    background-color: #ba3715;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    z-index: 99;
}

.nav-container {
    height: 100%;
    padding: 10px 20px;
}

.nav-row{
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.nav-col-logo   {
    
}

.nav-logo{
    width: 50px;
    height: 50px;
}

.nav-logo img{
    width: 100%;
    height: 100%;
}

.nav-col-menu  {
    
} 

.nav-btn-menu-off   {
    
}

.nav-btn-menu-off i {
    font-size: 30px;
}

.nav-btn-menu-on{

}

.nav-btn-menu-on i{
    font-size: 40px;
}

/* 跳出選單頁面 */
.menusection{
    position: absolute;
    width: 80%;
    height: calc(100vh - 80px);
    top: 80px;
    left: 20%;
    background-color: rgba(188, 54, 21, 0.5);
    backdrop-filter: blur(5px) ;
    /* 給動畫用 */
    transform: translateX(100%);
}

.menu-container{
    height: 100%;
    padding: 40px 20px;
    
}

.menu-row{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.menu-col:first-child div, .menu-col:first-child h3{
    padding: 16px 0;
    text-align: center;
}

.menu-col:first-child i{
    font-size: 30px;
    padding: 0 10px;
}

.menu-col:last-child{
    width: 100%;
}

.menu-col:last-child div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu-col:last-child i{
    font-size: 25px;
    padding: 0 6px;
}

/* HEADER 手機版 */
header  {
    width: 100%;
    padding-top: 80px;
}

.header-container{
    position: relative;
    width: 100%;
}

/* 無限輪播動畫 */
.header-bg{
    width: 100%;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/band3-asian.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
    position: absolute;
    z-index: -1;
}

.header-wrap{
    width: 100%;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.header-train{
    width: 300%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-shrink: 0;
}

.artist-slider{
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.artist-card{
    width: 24rem;
    height: 24rem;
    background-color: #df1624;
}

.artist-name{
    width: 80%;
    height: 40%;
    display: flex;
    align-items: center;
    margin-left: auto;
    text-align: right;
    padding: 10px 20px;
}

.artist-pic{
    width: 100%;
    height: 60%;
    background-image: url(../img/band3-asian.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* SHOP SECTION 手機版本 */
.shop-container{
    margin-bottom: 40px;
}

.shop-filter{
    width: 100%;
    height: 60px;
}

.shop-row{
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.shop-col-l, .shop-col-r{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.shop-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop-col-l .shop-btn{
    margin-right: 10px;
}
.shop-col-r .shop-btn{
    margin-left: 10px;
}
.shop-btn p{
    margin-right: 4px;
}

.shop-items{
    width: 100%;
}

.shop-item-row{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.shop-item-col{
    flex-grow: 0;
    flex-shrink: 0;
    padding-bottom: 20px;
}

.shop-item-card{
    /* outline: 1px greenyellow solid; */
    width: 150px;
}

.shop-item-bg{
    width: 150px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 700px;
    perspective-origin: 30% 50%;
    transition: .5s;
}

.shop-item-pic{
    position: relative;
    width: 60%;
    height: 60%;
    background-color: #000000;
    transform-origin: center center;
    transform-style: preserve-3d;
    transform:rotateX(60deg) rotateZ(33deg);
    box-shadow: rgba(0,0,0,1)2px 2px 1px, rgba(0, 0, 0, 0.7) 4px 4px 8px;
    transition: .5s;
}

.shop-vinyl-disc-move{
    /* outline: 1px greenyellow solid; */
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 1s;
}

.vinyl-disc{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../svg/vinyl.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.vinyl-mask{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    height: 35%;
    background: url(../img/cover1-kana.jpeg) no-repeat center / cover;
    -webkit-mask: url(../svg/vinyl-mask.svg);
    mask: url(../svg/vinyl-mask.svg) no-repeat center center / auto;
}

.vinyl-cover{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../img/cover1-kana.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s;
}

.shop-item-info p{
    color: rgba(255, 255, 255, 0.7);
}

.shop-item-info h4,.shop-item-info p{
    line-height: 1.5;
}

.shop-item-card:hover .vinyl-cover{
    transform: translateX(-20px);
}
.shop-item-card:hover .shop-vinyl-disc-move{
    transform: translateX(20px);
}
.shop-item-card:hover .shop-item-pic{
    background-color: rgba(0, 0, 0, 0);
    transform: rotateX(0deg) rotateZ(0deg) scale(1.1);
    box-shadow: rgba(0,0,0,0)2px 2px 1px, rgba(0, 0, 0, 0) 0px 2px 6px;
}
.shop-item-card:hover .shop-item-bg{
    background-color: rgba(255, 255, 255, 0.5);
}




/* FOOTER 手機版*/
footer{
    width: 100%;
    height: 80px;
    background-color: rgba(31, 35, 39, 0.5);
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.footer-container {
    height: 100%;
}

.footer-row{
    height: 100%;
    justify-content: space-between;
}

.footer-col-l{
    line-height: 2;
    text-align: center;
}

.footer-social-icon i{
    font-size: 16px;
    margin: 0 6px;
}

.footer-col-r{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-col-r h5{
    padding: 10px 15px;
    background-color: #6ba09e;
    margin-right: 10px;
}

.to-top{
    text-align: center; 
}

.to-top i{
    font-size: 20px;
}



/* ----------------------------------------------------------------------------------------- */
/* 電腦版 >= 768px */
@media screen and (min-width: 768px) {
    /* ----電腦版 模組化 -------*/
    html{
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: normal;
        color: #ffffff;
        box-sizing: border-box;
    }

    body    {
        background-color: #ba3715;
    }

    /* *{
        outline: 1px greenyellow solid;
    } */

    /* 字體大小 */
    a   {
        text-decoration: none;
        color: #ffffff;
    }

    h1{
        font-size: 4rem;
    }

    h2{
        font-size: 3rem;
    }

    h3{
        font-size: 2rem;
    }

    h4{
        font-size: 1.4rem;
    }

    h5{
        font-size: 1.2rem;
    }

    p{
        font-size: 1rem;
    }

    /* 排列顯示 */
    .max-width-limited{
        max-width: 1140px;
        margin: auto;
    }

    .container  {
        padding: 0px 40px;
    }

    .display-n{
        display: none;
    }

    /* NAV web------------------------------------------------------------- */
    nav{
        background-color: #ba3715;
    }

    .nav-container {
        /* height: 100%; */
        padding: 10px 40px;
        position: relative;
    }

    .nav-col-logo   {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-logo{
        width: 60px;
        height: 60px;
        margin-right: 10px;
    }

    .nav-col-menu  {
        display: none;
    }

    .web-nav-col-l, .web-nav-col-r{
        display: flex;
    }

    .web-nav-col-l h3{
        margin: 0 10px;
        font-size: 20px;
    }

    .web-nav-col-r i {
        font-size: 20px;
        margin-left: 10px;
    }

    /* 跳出選單頁面 */
    .menusection{
        display: none;
    }

    /* HEADER 電腦版------------------------------------------------------ */
    header  {
        width: 100%;
        padding-top: 80px;
    }

    .header-container{
        position: relative;
        width: 100%;
        overflow: hidden;
    }

    /* 無限輪播動畫 */
    .header-bg{
        width: 100%;
        height: 30rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(../img/band3-asian.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: blur(5px);
        position: absolute;
        z-index: -1;
    }

    .header-wrap{
        outline: 1px solid greenyellow;
        width: 100%;
        height: 30rem;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: visible;
        max-width: 1140px;
        margin: auto;
        padding: 0 100px;
    }

    .header-train{
        width: 300%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        flex-shrink: 0;
    }

    .artist-slider{
        width: 33.33%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
    }

    .artist-card{
        width: 85%;
        height: 20rem;
        background-color: #df1624;
        display: flex;
    }

    .artist-name{
        width: 40%;
        height: 100%;
        display: flex;
        align-items: center;
        margin-left: auto;
        text-align: right;
        padding: 10px 20px;
    }

    .artist-pic{
        width: 60%;
        height: 100%;
        background-image: url(../img/band3-asian.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }



    
    /* SHOP SECTION 電腦版本 --------------------------------------------*/
    .shop-container{
        margin-bottom: 0px;
        max-width: 1140px;
        margin: auto auto 40px auto;
    }

    .shop-col-l .shop-btn:nth-child(3) p, .shop-col-l .shop-btn:nth-child(3) i{
        display: none;
    }

    .shop-col-r .shop-btn:nth-child(1) p, .shop-col-r .shop-btn:nth-child(1) i{
        display: block;
    }

    .shop-col-r .shop-btn:nth-child(1) p{
        margin-right: 60px;
    }

    .shop-col-l::before{
        content:'Filter:';
        display: block;
        font-size: 16px;
    }

    .shop-col-r::before{
        content:'Sort By:';
        display: block;
        font-size: 16px;
        margin-right: 10px;
    }

    /* shop-items */
    .shop-items{
        width: 100%;
    }

    .shop-item-row{
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 -1%;
    }

    .shop-item-col{
        flex-shrink: 0;
        padding-bottom: 20px;
        width: 23%;
        margin: 0 1%;
    }

    .shop-item-card{
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }
/* 為何這邊的padding bottom會吃到高度 */
    .shop-item-bg{
        width: 100%;
        height: auto;
        padding-bottom: 100%;
        background-color: rgba(255, 255, 255, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        perspective: 700px;
        perspective-origin: 30% 50%;
        transition: .5s;
        position: relative;
    }

    .shop-item-pic{
        position: absolute;
        width: 60%;
        height: 60%;
        top: calc(50% - 30%);
        left: calc( 50% - 
        30%);
        background-color: #000000;
        transform-origin: center center;
        transform-style: preserve-3d;
        transform:rotateX(60deg) rotateZ(33deg);
        box-shadow: rgba(0,0,0,1)2px 2px 1px, rgba(0, 0, 0, 0.7) 4px 4px 8px;
        transition: .5s;
    }

    /* FOOTER 電腦版------------------------------------------------ */
    .footer-container {
        height: 100%;
        width: 100%;
        padding: 0 40px;
        max-width: 1140px;
        margin: auto;
    }

    .footer-col-l{
        line-height: 2;
        text-align: center;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: center;
    }

    .footer-col-l p{
        font-size: 10px;
        margin-right: 20px;
    }

    .footer-col-r h5{
        margin-right: 30px;
    }
}